.home-box {
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 10px;
    font-size: 22px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-image: linear-gradient(to right, #000 50%, transparent 50%) 100% 1;
}


.post {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5%;
    cursor: pointer;
}

.post-content {
    display: flex;
    flex-direction: row;
}

.post-content p {
    margin-left: 10px;
}

.date {
    font-style: italic;
    font-size: 18px;
}