.home-box img {
    margin-bottom: 5%;
}

p {
    font-size: 20px;

    .date {
        font-style: italic;
    }
}

img {
   margin-bottom: 1%; 
}

.note {
    display: flex;
    flex-direction: row;
}

.foot-note {
    font-size: 16px;
}

.section-title {
    font-weight: bold;
    font-size: 25px;
    margin-top: 5%;
}

.large-img {
    width: 50%;
    height: auto;
}

.medium-img {
    width: 70%;
    height: auto;
}

.censor {
    filter: blur(10px);
}