<!DOCTYPE html>
<html>

<head id="head">
    <title>{{ title }} | Blog metal</title>
</head>

<body>
    <div class="row" id="body"></div>

    <!-- Box -->
    <div class="row mb-5">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="home-box">
                <img src="{{ image }}">
                <h2>{{ title }}</h2>
                <p class="date">Création : {{ date }} - Dernière mise à jour : {{ date }}</p>
                {{ rating }}
                {{ genre }}
                <h4 class="mt-4">Informations générales</h4>
                <p>Pays d'origine : {{ country }}</p>
                <p>Année de formation : {{ formation }}</p>
                <a href="{{ archives }}">Lien de leur page Metal Archives</a>
                <p class="foot-note">Images provenant de ... </p>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>

    <!-- Post content -->
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <p>Petite introduction</p>

            <p class="section-title">Album 1 (année)</p>
            <div class="note">
                <p>Ma note : </p>
                <div class="px-2">
                    <!-- 
                    Etoiles:
                    complète <i class="fa-solid fa-star"></i>
                    vide <i class="fa-regular fa-star"></i>
                    remplie à moitié <i class="fa-solid fa-star-half-stroke"></i>
                    -->
                </div>
                <p>Accessibilité : <p class="px-2">{{ rating }}</p></p>
            </div> 
            <img src="" alt="Image section 1">
            <!--
            Classes des images:
            .large-img
            .medium-img
            .censor
            -->
            <p>
                Review
            </p>

            <p class="section-title">Album 2 (année)</p>
            <div class="note">
                <p>Ma note : </p>
                <div class="px-2">
                    <!-- 
                    Etoiles:
                    complète <i class="fa-solid fa-star"></i>
                    vide <i class="fa-regular fa-star"></i>
                    remplie à moitié <i class="fa-solid fa-star-half-stroke"></i>
                    -->
                </div>
                <p>Accessibilité : <p class="px-2">{{ rating }}</p></p>
            </div> 
            <img src="" alt="Image section 2">
            <!--
            Classes des images:
            .large-img
            .medium-img
            .censor
            -->
            <p>
                Review
            </p>

        </div>
        <div class="col-sm-3"></div>
    </div>

     <div class="row" id="footer"></div>
</body>
<script src="../../src/js/posts.js"></script>
</html>